* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#off, #on {

    margin-top: 100px;
    padding-left: 0px;
    text-align: center; 
}

.btn{
    display: flex;   
    justify-content: center;
    gap: 5px; 
    margin-top: 50px;  
    width: 100%;    
}
    
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: #0a0a0a;
    color: #fff;
}

button:hover {
    background: #555;
}
